output/build
DB_OK/seleccion
*.xlsx
IES por región.xlsx
Casos TNS a revisar.xlsx
ShareX/Screenshots/2023-08/POWERPNT_GvZcZKuSb2.png
ShareX/Screenshots/2023-08/EXCEL_6fR0OKnHC9.png
ShareX/Screenshots/2023-08/EXCEL_2z9Xnm0rgp.png
ShareX/Screenshots/2023-07/msedge_3YMu5yCGUE.png
ShareX/Screenshots/2023-07/msedge_0WWhj18EGO.png
ShareX/Logs/ShareX-Log-2023-08.txt
ShareX/Logs/ShareX-Log-2023-07.txt
ShareX/Backup/UploadersConfig.json
ShareX/Backup/UploadersConfig-2023-08-W33.json
ShareX/Backup/UploadersConfig-2023-08-W32.json
ShareX/Backup/UploadersConfig-2023-07-W32.json
ShareX/Backup/UploadersConfig-2023-07-W31.json
ShareX/Backup/UploadersConfig-2023-07-W30.json
ShareX/Backup/HotkeysConfig.json
ShareX/Backup/HotkeysConfig-2023-08-W33.json
ShareX/Backup/HotkeysConfig-2023-08-W32.json
ShareX/Backup/HotkeysConfig-2023-07-W32.json
ShareX/Backup/HotkeysConfig-2023-07-W31.json
ShareX/Backup/HotkeysConfig-2023-07-W30.json
ShareX/Backup/History-2023-08-W33.json
ShareX/Backup/History-2023-07-W30.json
ShareX/Backup/ApplicationConfig.json
ShareX/Backup/ApplicationConfig-2023-08-W33.json
ShareX/Backup/ApplicationConfig-2023-08-W32.json
ShareX/Backup/ApplicationConfig-2023-07-W32.json
ShareX/Backup/ApplicationConfig-2023-07-W31.json
ShareX/Backup/ApplicationConfig-2023-07-W30.json
ShareX/UploadersConfig.json
ShareX/HotkeysConfig.json
ShareX/History.json
ShareX/ApplicationConfig.json
Otros/test.py
Otros/base cruzada.csv
MI_code/Muestra_intencionada.py
MI_code/MRep.py
MI_code/MI.py
DOCUMENTO INFORMATIVO MUESTRA INTENCIONADA EN LA EVALUACIÓN EXTERNA CON FINES DE ACREDITACIÓN INSTITUCIONAL.pdf
limpiar_base.py
main.exe
main.spec
regiones.py
seleccion.exe
seleccion.spec
.vscode/settings.json
build/export_test/Analysis-00.toc
build/export_test/base_library.zip
build/export_test/EXE-00.toc
build/export_test/export_test.exe.manifest
build/export_test/export_test.pkg
build/export_test/PKG-00.toc
build/export_test/PYZ-00.pyz
build/export_test/PYZ-00.toc
build/export_test/Tree-00.toc
build/export_test/Tree-01.toc
build/export_test/Tree-02.toc
build/export_test/warn-export_test.txt
build/export_test/xref-export_test.html
build/export_test/localpycs/pyimod01_archive.pyc
build/export_test/localpycs/pyimod02_importers.pyc
build/export_test/localpycs/pyimod03_ctypes.pyc
build/export_test/localpycs/pyimod04_pywin32.pyc
build/export_test/localpycs/struct.pyc
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/EXE-00.toc
build/main/main.exe.manifest
build/main/main.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/warn-main.txt
build/main/xref-main.html
build/main/localpycs/pyimod01_archive.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/pyimod04_pywin32.pyc
build/main/localpycs/struct.pyc
build/seleccion/Analysis-00.toc
build/seleccion/base_library.zip
build/seleccion/EXE-00.toc
build/seleccion/PKG-00.toc
build/seleccion/PYZ-00.pyz
build/seleccion/PYZ-00.toc
build/seleccion/seleccion.exe.manifest
build/seleccion/seleccion.pkg
build/seleccion/warn-seleccion.txt
build/seleccion/xref-seleccion.html
build/seleccion/localpycs/pyimod01_archive.pyc
build/seleccion/localpycs/pyimod02_importers.pyc
build/seleccion/localpycs/pyimod03_ctypes.pyc
build/seleccion/localpycs/pyimod04_pywin32.pyc
build/seleccion/localpycs/struct.pyc
Comentarios/Carga y depuración
Comentarios/Carga y depuración.md
Comentarios/Flujo completo.md
Comentarios/para cruzar datos.md
Comentarios/Para separar de los datos.md
DB/matricula_filtrado.csv
DB/MATRICULA.csv
DB/regiones_db.csv
DB/titulados_filtrado.csv
DB/TITULADOS.csv
DB/otros/base_MRep.csv
DB/otros/bases cruzadas.xlsx
DB/otros/Oferta_Academica_2023_SIES_26_01_2023_E.csv
DB/otros/oferta_historica.csv
DB/otros/OFICIAL_WEB_PROCESO_MAT_2022_24_06_2022_E.csv
DB/otros/SAC_Pregrado.xls
DB/otros/SAC_Pregrado.xlsx
DB/otros/TITULADOS_WEB_2007_AL_2022_30_05_2023_E.csv
DB/otros/TITULADOS_WEB_2022_30_05_2023_E-1 (1).csv
DB_OK/CFT ACCIOMA.xlsx
DB_OK/CFT ALPES.xlsx
DB_OK/CFT CAMARA DE COMERCIO DE SANTIAGO.xlsx
DB_OK/CFT CEDUC - UCN.xlsx
DB_OK/CFT CENCO.xlsx
DB_OK/CFT DE ENAC.xlsx
DB_OK/CFT DE LA REGION DE ANTOFAGASTA.xlsx
DB_OK/CFT DE LA REGION DE ARICA Y PARINACOTA.xlsx
DB_OK/CFT DE LA REGION DE COQUIMBO.xlsx
DB_OK/CFT DE LA REGION DE LA ARAUCANIA.xlsx
DB_OK/CFT DE LA REGION DE LOS LAGOS.xlsx
DB_OK/CFT DE LA REGION DE LOS RIOS.xlsx
DB_OK/CFT DE LA REGION DE MAGALLANES Y ANTARTICA CHILENA.xlsx
DB_OK/CFT DE LA REGION DE TARAPACA.xlsx
DB_OK/CFT DE LA REGION DE VALPARAISO.xlsx
DB_OK/CFT DE LA REGION DEL MAULE.xlsx
DB_OK/CFT DE LA REGION METROPOLITANA DE SANTIAGO.xlsx
DB_OK/CFT DEL MEDIO AMBIENTE.xlsx
DB_OK/CFT INACAP.xlsx
DB_OK/CFT INSTITUTO SUPERIOR ALEMAN DE COMERCIO INSALCO.xlsx
DB_OK/CFT IPROSEC.xlsx
DB_OK/CFT JUAN BOHON.xlsx
DB_OK/CFT LAPLACE.xlsx
DB_OK/CFT LOS LAGOS.xlsx
DB_OK/CFT LOTA-ARAUCO.xlsx
DB_OK/CFT MANPOWER.xlsx
DB_OK/CFT PUCV.xlsx
DB_OK/CFT SAN AGUSTIN.xlsx
DB_OK/CFT SANTO TOMAS.xlsx
DB_OK/CFT TEODORO WICKEL KLUWEN.xlsx
DB_OK/elegibles.xlsx
DB_OK/IP AGRARIO ADOLFO MATTHEI.xlsx
DB_OK/IP AIEP.xlsx
DB_OK/IP CHILENO BRITANICO DE CULTURA.xlsx
DB_OK/IP CIISA.xlsx
DB_OK/IP DE ARTE Y COMUNICACION ARCOS.xlsx
DB_OK/IP DE CHILE.xlsx
DB_OK/IP DEL VALLE CENTRAL.xlsx
DB_OK/IP DIEGO PORTALES.xlsx
DB_OK/IP DR. VIRGINIO GOMEZ G..xlsx
DB_OK/IP DUOC UC.xlsx
DB_OK/IP EATRI INSTITUTO PROFESIONAL.xlsx
DB_OK/IP ESCUELA DE CINE DE CHILE.xlsx
DB_OK/IP ESCUELA DE COMERCIO DE SANTIAGO.xlsx
DB_OK/IP ESCUELA DE CONTADORES AUDITORES DE SANTIAGO.xlsx
DB_OK/IP ESCUELA DE MARINA MERCANTE PILOTO PARDO.xlsx
DB_OK/IP ESCUELA MODERNA DE MUSICA.xlsx
DB_OK/IP INACAP.xlsx
DB_OK/IP INSTITUTO INTERNACIONAL DE ARTES CULINARIAS Y SERVICIOS.xlsx
DB_OK/IP INSTITUTO NACIONAL DEL FUTBOL.xlsx
DB_OK/IP INSTITUTO SUPERIOR DE ARTES Y CIENCIAS DE LA COMUNICACION.xlsx
DB_OK/IP IPG.xlsx
DB_OK/IP LATINOAMERICANO DE COMERCIO EXTERIOR - IPLACEX.xlsx
DB_OK/IP LIBERTADOR DE LOS ANDES.xlsx
DB_OK/IP LOS LAGOS.xlsx
DB_OK/IP LOS LEONES.xlsx
DB_OK/IP PROJAZZ.xlsx
DB_OK/IP PROVIDENCIA.xlsx
DB_OK/IP SANTO TOMAS.xlsx
DB_OK/PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE.xlsx
DB_OK/PONTIFICIA UNIVERSIDAD CATOLICA DE VALPARAISO.xlsx
DB_OK/sedes.xlsx
DB_OK/UNIVERSIDAD ACADEMIA DE HUMANISMO CRISTIANO.xlsx
DB_OK/UNIVERSIDAD ADOLFO IBAÑEZ.xlsx
DB_OK/UNIVERSIDAD ADVENTISTA DE CHILE.xlsx
DB_OK/UNIVERSIDAD ALBERTO HURTADO.xlsx
DB_OK/UNIVERSIDAD ANDRES BELLO.xlsx
DB_OK/UNIVERSIDAD ARTURO PRAT.xlsx
DB_OK/UNIVERSIDAD AUSTRAL DE CHILE.xlsx
DB_OK/UNIVERSIDAD AUTONOMA DE CHILE.xlsx
DB_OK/UNIVERSIDAD BERNARDO O'HIGGINS.xlsx
DB_OK/UNIVERSIDAD CATOLICA CARDENAL RAUL SILVA HENRIQUEZ.xlsx
DB_OK/UNIVERSIDAD CATOLICA DE LA SANTISIMA CONCEPCION.xlsx
DB_OK/UNIVERSIDAD CATOLICA DE TEMUCO.xlsx
DB_OK/UNIVERSIDAD CATOLICA DEL MAULE.xlsx
DB_OK/UNIVERSIDAD CATOLICA DEL NORTE.xlsx
DB_OK/UNIVERSIDAD CENTRAL DE CHILE.xlsx
DB_OK/UNIVERSIDAD DE ACONCAGUA.xlsx
DB_OK/UNIVERSIDAD DE ANTOFAGASTA.xlsx
DB_OK/UNIVERSIDAD DE ARTES, CIENCIAS Y COMUNICACION - UNIACC.xlsx
DB_OK/UNIVERSIDAD DE ATACAMA.xlsx
DB_OK/UNIVERSIDAD DE AYSEN.xlsx
DB_OK/UNIVERSIDAD DE CHILE.xlsx
DB_OK/UNIVERSIDAD DE CONCEPCION.xlsx
DB_OK/UNIVERSIDAD DE LA FRONTERA.xlsx
DB_OK/UNIVERSIDAD DE LA SERENA.xlsx
DB_OK/UNIVERSIDAD DE LAS AMERICAS.xlsx
DB_OK/UNIVERSIDAD DE LOS ANDES.xlsx
DB_OK/UNIVERSIDAD DE LOS LAGOS.xlsx
DB_OK/UNIVERSIDAD DE MAGALLANES.xlsx
DB_OK/UNIVERSIDAD DE O'HIGGINS.xlsx
DB_OK/UNIVERSIDAD DE PLAYA ANCHA DE CIENCIAS DE LA EDUCACION.xlsx
DB_OK/UNIVERSIDAD DE SANTIAGO DE CHILE.xlsx
DB_OK/UNIVERSIDAD DE TALCA.xlsx
DB_OK/UNIVERSIDAD DE TARAPACA.xlsx
DB_OK/UNIVERSIDAD DE VALPARAISO.xlsx
DB_OK/UNIVERSIDAD DE VIÑA DEL MAR.xlsx
DB_OK/UNIVERSIDAD DEL ALBA.xlsx
DB_OK/UNIVERSIDAD DEL BIO-BIO.xlsx
DB_OK/UNIVERSIDAD DEL DESARROLLO.xlsx
DB_OK/UNIVERSIDAD DIEGO PORTALES.xlsx
DB_OK/UNIVERSIDAD FINIS TERRAE.xlsx
DB_OK/UNIVERSIDAD GABRIELA MISTRAL.xlsx
DB_OK/UNIVERSIDAD LA REPUBLICA.xlsx
DB_OK/UNIVERSIDAD MAYOR.xlsx
DB_OK/UNIVERSIDAD METROPOLITANA DE CIENCIAS DE LA EDUCACION.xlsx
DB_OK/UNIVERSIDAD MIGUEL DE CERVANTES.xlsx
DB_OK/UNIVERSIDAD SAN SEBASTIAN.xlsx
DB_OK/UNIVERSIDAD SANTO TOMAS.xlsx
DB_OK/UNIVERSIDAD SEK.xlsx
DB_OK/UNIVERSIDAD TECNICA FEDERICO SANTA MARIA.xlsx
DB_OK/UNIVERSIDAD TECNOLOGICA METROPOLITANA.xlsx
DB_OK/otros/anexo.xlsx
DB_OK/otros/MRep_filtrada.xlsx
DB_OK/otros/oferta_historica.xlsx
DB_OK/selección/selección final.xlsx
DB_OK/selección/selección inicial.xlsx
dist/main.exe
dist/seleccion.exe
__pycache__/seleccion.cpython-311.pyc
DB_OK/selección/CFT ACCIOMA_selección.xlsx
DB_OK/selección/CFT SAN AGUSTIN_selección_inicial.xlsx
.gitignore
DB_OK/selección/UNIVERSIDAD CATOLICA DE TEMUCO_selección_inicial.xlsx
DB_OK/selección/IP INACAP_selección_inicial.xlsx
DB_OK/selección/IP INACAP_selección.xlsx
.gitignore
.gitignore
DB_OK/selección/CFT CAMARA DE COMERCIO DE SANTIAGO_selección.xlsx
.gitignore
.gitignore
DB_OK/selección/UNIVERSIDAD DE CHILE_selección.xlsx
DB_OK/selección/UNIVERSIDAD METROPOLITANA DE CIENCIAS DE LA EDUCACION_selección.xlsx
.gitignore
.gitignore
DB_OK/selección/UNIVERSIDAD DE CHILE_selección_inicial.xlsx
.gitignore
DB_OK/selección/CFT SAN AGUSTIN_selección.xlsx
DB_OK/selección/UNIVERSIDAD METROPOLITANA DE CIENCIAS DE LA EDUCACION_selección_inicial.xlsx
.gitignore
DB_OK/selección/UNIVERSIDAD CATOLICA DE TEMUCO_selección.xlsx
main.py
DB_OK/selección/UNIVERSIDAD SANTO TOMAS_selección.xlsx
DB_OK/selección/UNIVERSIDAD SEK_selección.xlsx
DB_OK/selección/UNIVERSIDAD SEK_selección_inicial.xlsx
DB_OK/selección/UNIVERSIDAD SANTO TOMAS_selección_inicial.xlsx
DB/MATRICULA OFICIAL 2023 09_06_2023 WEB.csv
DB/Oferta_Academica_2023_SIES_25_05_2023_E.csv
DB/TITULADOS_WEB_2022_30_05_2023_E-1.csv
DB_OK/prueba.xlsx
